<configuration>
 <property>
  <name>fs.defaultFS</name>
   <value>hdfs://HOSTNAME:54310/</value>
   <description>The name of the default file system.  A URI whose
    scheme and authority determine the FileSystem implementation.</description>
 </property>
</configuration>
